#searchform {margin-top:-2px;}
#searchform input#s { float:none; }
#searchform input#searchsubmit { margin-top:-31px; }
#header {height:117px; }
.mainnav li li { background:#333; }
#sidebar2 .widgets  { margin-right:20px; }
#sidebar {padding-right:0; }	
